* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    width: 100%;
    height: 100%;
    font-family: monospace;
}

.container {
    width: 100%;
    height: 100vh;
}

.navbar {
    width: 100%;
    height: 10vh;
    box-shadow: 0 0 10px rgb(180, 174, 174);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    display: flex;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 30px;
    margin-left: 50px;
}

.icon h4{
    margin-left: 20px;
}

.nav-btn .signup {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin: 10px;
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
    font-weight: bold;
    font-size: 15px;
    color: white;
}

.nav-btn .login {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin: 10px;
    font-weight: bold;
    font-size: 15px;
    background-color: #d5daeb;
}

.nav-btn {
    margin-right: 50px;
}

.slider {
    /* background-color: black; */
    border-radius: 5px;
    width: 95%;
    height: 50vh;
    margin-top: 40px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px grey;
}

.slider-img {
    /* background-color: aqua; */
    width: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-img img {
    width: 900px;
}

.sliderimage{
    animation-timing-function:ease-in;
}

.left img, .right img{
    cursor: pointer;
}

.start-content {
    text-align: center;
    margin-top: 50px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
}

.start-content img{
    margin-top: 20px;
}

.expense-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.total-expense{
    width: 87%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-weight: bolder;
    height: 50px;
    border-radius: 4px;
    padding: 10px;  
    margin-top: 120px;
}

.users-content-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#users{
    width: 87%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}